<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioRecorder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Visual Scheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>685146AF18C49EC3002CF73F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>685146CA18C49EC4002CF73F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81AA9B218B925B900E3B50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81AA9C818B925B900E3B50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81AA9E818B943C400E3B50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81AAA0418B943C400E3B50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83A62B718B696DC00EC0773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83A62D818B696DC00EC0773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D850E7BF18C86A830051CD51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D850E7D518C86A830051CD51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8EAF2BB18D9D82E004CC1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8EAF2C118D9D8C7004CC1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
